.header{
  font-size: 3em;
  font-weight: bold;
  font-family: fantasy;
  padding: 1%;
}

.search {
  padding-top: 2%;
  padding-bottom: 2%;
}

.add-movie {
  padding: 2%;
}

.movie-list {
  margin: 3% 35%;
}

.movie-entry {
  border-style: solid;
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 3%;
}

.watched-button {
  float: right;
  font-size: .5em;
}
 
div {
  text-align: center;
}
